<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
							http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.2.xsd
							http://www.springframework.org/schema/jee
							http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
							http://www.springframework.org/schema/tx
							http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
							http://www.springframework.org/schema/task
							http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<aop:aspectj-autoproxy />

	<bean id="loggingAspect" class="mynotes.aop.aspect.LoggingAspect" />
	
	<bean id="loggingAspectXml" class="mynotes.aop.aspect.LoggingAspectXml" />
	
	<aop:config>
	<aop:aspect id="loggingAspectXml" ref="loggingAspectXml">
	<aop:pointcut id="pointcutId1" expression="execution(public String getName())" />
	<aop:before method="logMessage" pointcut-ref="pointcutId1"/>
	</aop:aspect>
	
	</aop:config>
	
	<bean id="softwareDevelopers" class="mynotes.aop.model.SoftwareDevelopers">
		<property name="name" value="developer1"></property>
	</bean>
	<bean id="managers" class="mynotes.aop.model.Managers">
		<property name="name" value="manager1"></property>
	</bean>

	<bean id="employeeService" class="mynotes.aop.service.EmployeeService"
		autowire="byName" />

</beans>